.page-1 {
  /* border: 4px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86vh;
  margin-bottom: 10vh;}
.side-1 {
  border: .1px solid grey;
  width: 15%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.side-99 {
  /* border: 2px solid purple; */
  cursor: pointer;
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  /* border-top: 1px solid black; */
  font-family: "Kanit", sans-serif;
  font-size: 2rem;}
.side-2 {
  /* border: 2px solid #ccc; */
  height: 100%;
  width: 85%;
    /* border: 3px solid green; */
  }
@media screen and (width < 1150px){
    .page-1 {
        margin-top: 0vh;
        /* border: 4px solid green; */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 86vh;
        /* border: 3px solid blue; */
      }
      .side-1 {
        /* border: 2px solid orangered; */
        width: 100%;
        height: 6vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /* flex-direction: column; */
      }
      .side-2 {
        /* border: 4px solid green; */
        height: 80vh;
        width: 100%;
      }
}
@media screen and (width < 750px){
    .side-99 {
        cursor: pointer;
        width: 100%;
        height: 9vh;
        display: flex;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
        font-family: "Kanit", sans-serif;
        font-size: 3.8vw;
        /* border: 1px solid #ccc; */
      }  
      .side-2 {
        /* border: 4px solid green; */
        height: 80vh;
        width: 97%;
      } 
}